


@media screen and (max-width: 900px){
    .aside-content{
        max-width:none!important;
    }
}




#archive,#page,#category,#tag{
    width:100%;
}
.page:not(.page.home) .aside-content{
    display: none;
}


